header {
  margin: 0% auto;
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  position: auto;
  top: 0;
  transition: 0.3s;
  z-index: 5;
  color: black;
}

main {
  background-color: #393E46;
  color: white;
  padding: 20px;
  text-align: left;

}

footer {
  background-color: #00ADB5;
  color: white;
  padding: 5px;
  text-align: center;
}

.nav-show {
  opacity: 0;
}

nav-bar {
  list-style: none;
  position: relative;
  display: inline-flex;
}

.nav-bar {
  position: fixed;
  top: 0px;
  right: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--main-header-background);
  transform: translatex(100%);
  transition: transform 0.5s ease-in;
  z-index: -1;
}